.wy-nav-content {
    max-width: none;
}

img {
    border: solid 2px #BBB;
    padding: 10px;	
}

div.section {
    padding-left: 20px;
    padding-bottom: 5px;
    margin: 10px 0;
    background: 
    linear-gradient(to right, #00000014 1px, transparent 1px) 0 100%, 
    linear-gradient(to bottom, #00000014 1px, transparent 1px) 0 0, 
    linear-gradient(to top, #00000030 1px, transparent 1px) 0 100%;
    background-repeat: no-repeat;
    background-size: 20px;
}

div[itemprop=articleBody] > div.section {
    background: none;
    padding-left: 0;
}

h1 {
	text-align: center;
}